<!--
  1. add a button that say 'Display Details'
  2. add a paragraph with any content of your choice.
  3. toogle the displaying of that paragraph with the button created in the first step.
  4. Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number )
  5. Starting at the 5th log item, give all the future log items a blue bg (via ngStyle) and white color (ngClass)
-->

<button
class="btn btn-primary"
(click)="onSwitch($event)"
> Display Details </button>
<p *ngIf="active">{{active}}</p>
<p *ngFor = "let time of timeStamps; let i = index"
[ngStyle]="{backgroundColor:checkColor(i)}"
[ngClass]="{pColor: i > 4}"
>{{time}}</p>
